<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
<base href="/">
  <th:block layout:fragment="script"></th:block>
  <th:block layout:fragment="css"></th:block>
  <link th:href="@{/css/header.css}" rel="stylesheet"/>
  <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div layout:fragment="content">

</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>