<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">게시판</h5>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dto:${responseDTO.dtoList}">
                        <th scope="row">[[${dto.bno}]]</th>
                        <td>[[${dto.title}]]</td>
                        <td>[[${dto.writer}]]</td>
                        <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                    </tr>
                    </tbody>
                </table>

                    <div class="float-end">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end +1}">다음</a>
                            </li>
                        </ul>
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>
</html>