<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:fragment="header">
    <nav id="navi">
        <a href="#" class="logo"><img src="/img/logo.png" id="logoImg" alt="logo"></a>
        <!--<a href="#" class="logo"><img src="/templates/img/logo.png" id="logoImg" alt="logo"></a>-->
        <ul>
            <li><a href="#" class="menu">소개</a></li>
            <li><a href="#" class="menu">음성</a></li>
            <li><a href="#" class="menu">영상</a></li>
            <li><a href="#" class="menu">제품</a></li>
            <li><a href="#" class="menu">게시판</a></li>
            <li sec:authorize="isAnonymous()"><a href="members/new" class="menu">회원가입</a></li>
            <li sec:authorize="isAnonymous()" class="loginLi"><a href="members/login" class="menu" id="loginBtn">로그인</a></li>
            <li sec:authorize="isAuthenticated()" class="loginLi"><a href="members/logout" class="menu" id="logoutBtn">로그아웃</a></li>
        </ul>
    </nav>
    <hr>
    <!--  <div sec:authorize="isAnonymous()">
        <a href="members/login">로그인</a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="members/new">회원가입</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="members/logout">로그아웃</a>
    </div> -->
</div>
</html>
